### Data Slicing or Subset

**Data slicing or subset using columns**

In [7]:
import pandas as pd

df = pd.read_csv('data_stu.csv')
print("Data slicing or subset using columns")

print(df['Student_Name'])
print(df['Roll_No'])

Data slicing or subset using columns
0         Aarav Sharma
1         Sita Koirala
2            Ram Thapa
3      Anjali Adhikari
4     Prakash Bhandari
5       Binita Ghimire
6      Ramesh Shrestha
7         Kamal Gurung
8         Manisha Lama
9           Dipesh Rai
10    Saraswati Dhakal
11        Niraj Poudel
12      Puja Bhattarai
13        Kiran Tamang
14           Sunita KC
15        Bibek Basnet
16       Asmita Subedi
17     Rajan Chaudhary
18         Nisha Yadav
19       Suman Neupane
Name: Student_Name, dtype: object
0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
Name: Roll_No, dtype: int64

In [8]:
print(df[0 :1])
new = df.set_index('Student_Name')


print(new[0:4])
print(new.loc['Ram Thapa':'Dipesh Rai'])
print(new.iloc[0:5])

   Student_Name  Roll_No  Total_Marks_1  Total_Marks_2  Total_Marks_3
0  Aarav Sharma        1             83             79             93
                 Roll_No  Total_Marks_1  Total_Marks_2  Total_Marks_3
Student_Name
Aarav Sharma           1             83             79             93
Sita Koirala           2             65             75             87
Ram Thapa              3             72             59             91
Anjali Adhikari        4             83             98             69
                  Roll_No  Total_Marks_1  Total_Marks_2  Total_Marks_3
Student_Name
Ram Thapa               3             72             59             91
Anjali Adhikari         4             83             98             69
Prakash Bhandari        5             79             87             84
Binita Ghimire          6             74             66             93
Ramesh Shrestha         7             88             72             83
Kamal Gurung            8             82             70             96
Manisha Lama            9             86             80             89
Dipesh Rai             10             90             88             78
                  Roll_No  Total_Marks_1  Total_Marks_2  Total_Marks_3
Student_Name
Aarav Sharma            1             83             79             93
Sita Koirala            2             65             75             87
Ram Thapa               3             72             59             91
Anjali Adhikari         4             83             98             69
Prakash Bhandari        5             79             87             84