DATA MANIPULATION WITH PANDAS

DATA MANIPULATION WITH PANDAS   
 Grouped summarystatistics   
   data_name.groupby("name")["Sales"].mean()

In [1]:

import pandas as pd

# Sample data frame
data = {
    'Store': ['A', 'A', 'A', 'B', 'B', 'B', 'C', 'C', 'C'],
    'Product': ['Apples', 'Bananas', 'Oranges',
                'Apples', 'Bananas', 'Oranges',
                'Apples', 'Bananas', 'Oranges'],
    'Month': ['Jan', 'Jan', 'Jan',
              'Feb', 'Feb', 'Feb',
              'Mar', 'Mar', 'Mar'],
    'Sales': [100, 150, 80,
              120, 160, 90,
              130, 170, 100]
}

df = pd.DataFrame(data)
print(df.drop_duplicates(subset='Store'))
# print(df)
print(f"\n{df[df['Store']=='A']['Sales'].sum()}")
print(df.groupby('Store')["Sales"].sum())
data1 = df.groupby('Store')["Sales"]
print(data1.mean())
print(f"\n{data1.agg(['sum','mean'])}")
print(f"\n{df.groupby(['Store','Month'])['Sales'].sum()}")

  Store Product Month  Sales
0     A  Apples   Jan    100
3     B  Apples   Feb    120
6     C  Apples   Mar    130

330
Store
A    330
B    370
C    400
Name: Sales, dtype: int64
Store
A    110.000000
B    123.333333
C    133.333333
Name: Sales, dtype: float64

       sum        mean
Store
A      330  110.000000
B      370  123.333333
C      400  133.333333

Store  Month
A      Jan      330
B      Feb      370
C      Mar      400
Name: Sales, dtype: int64

Pivot tables  
  Group by to pivot table

In [2]:
# import numpy as np
print(df.pivot_table(values="Sales",index='Store'))

# print(df.pivot_table(values='Sales',index='Store',aggfunc=np.mean))
print(df.pivot_table(values='Sales',index='Store',aggfunc='mean'))
print(f"\n{df.pivot_table(values='Sales',index='Store',aggfunc=['mean','sum'])}")

print(f"\n{df.pivot_table(values='Sales',index='Store',columns='Month',aggfunc='mean')}")
print(f"\n{df.pivot_table(values='Sales',index='Store',columns='Month',aggfunc='mean' ,fill_value = 0)}")
print(f"\n{df.pivot_table(values='Sales',index='Store',columns='Month',aggfunc='mean' ,fill_value = 0 ,margins= True)}")

            Sales
Store
A      110.000000
B      123.333333
C      133.333333
            Sales
Store
A      110.000000
B      123.333333
C      133.333333

             mean   sum
            Sales Sales
Store
A      110.000000   330
B      123.333333   370
C      133.333333   400

Month         Feb    Jan         Mar
Store
A             NaN  110.0         NaN
B      123.333333    NaN         NaN
C             NaN    NaN  133.333333

Month         Feb    Jan         Mar
Store
A        0.000000  110.0    0.000000
B      123.333333    0.0    0.000000
C        0.000000    0.0  133.333333

Month         Feb    Jan         Mar         All
Store
A        0.000000  110.0    0.000000  110.000000
B      123.333333    0.0    0.000000  123.333333
C        0.000000    0.0  133.333333  133.333333
All    123.333333  110.0  133.333333  122.222222