Pandas is a Python library and used to analyze data.

Import Pandas

In [1]:
import pandas as pd

Data taken from the file data.csv and path of the file is given

In [2]:

pd_data = pd.read_csv('data.csv' )

print(pd_data)

       Country        Capital  Area (sq km)  Population (millions)
0  Afghanistan          Kabul        652860                  41.10
1   Bangladesh          Dhaka        147570                 172.90
2       Bhutan        Thimphu         38394                   0.80
3        India      New Delhi       3287263                1417.20
4     Maldives           Malé           298                   0.52
5        Nepal      Kathmandu        147181                  30.70
6     Pakistan      Islamabad        881912                 241.50
7    Sri Lanka  Colombo Kotte         65610                  21.90

Set Custom Index Manually:

  data.index = row_labels

In [3]:
row_labels = ['AF','BA','BH ', 'IN','MA', 'NE','PA','SL']
pd_data.index = row_labels
print(pd_data)

         Country        Capital  Area (sq km)  Population (millions)
AF   Afghanistan          Kabul        652860                  41.10
BA    Bangladesh          Dhaka        147570                 172.90
BH        Bhutan        Thimphu         38394                   0.80
IN         India      New Delhi       3287263                1417.20
MA      Maldives           Malé           298                   0.52
NE         Nepal      Kathmandu        147181                  30.70
PA      Pakistan      Islamabad        881912                 241.50
SL     Sri Lanka  Colombo Kotte         65610                  21.90

To remove index 

data.set_index() to use a column as index:

In [4]:
# pd_data.set_index(, inplace=True)
# print(pd_data)

In data to find the row and coulumn 

data.index    give list of  the row 

data.columns  gove the list of the columns

In [5]:
print(pd_data.index)
print(pd_data.columns)

Index(['AF', 'BA', 'BH ', 'IN', 'MA', 'NE', 'PA', 'SL'], dtype='object')
Index(['Country', 'Capital', 'Area (sq km)', 'Population (millions)'], dtype='object')

Locate Row

Pandas use the loc and iloc attribute to return one or more specified row(s)

In [6]:
print(pd_data.index)         # ptint row of the data 

print(pd_data.iloc[0])       # access the data of index 0 
print("  ")
print(pd_data.loc['AF'])     # access thr data of row  AF
print("  ")
print(pd_data.iloc[1,2])     # access the data in [row ,column]

# in data formate 
print(pd_data.iloc[[4,3,2]])  # access the more then one data 
print(pd_data.loc[['NE']])    # access the data using the index row NE

Index(['AF', 'BA', 'BH ', 'IN', 'MA', 'NE', 'PA', 'SL'], dtype='object')
Country                  Afghanistan
Capital                        Kabul
Area (sq km)                  652860
Population (millions)           41.1
Name: AF, dtype: object

Country                  Afghanistan
Capital                        Kabul
Area (sq km)                  652860
Population (millions)           41.1
Name: AF, dtype: object

147570
      Country    Capital  Area (sq km)  Population (millions)
MA   Maldives       Malé           298                   0.52
IN      India  New Delhi       3287263                1417.20
BH     Bhutan    Thimphu         38394                   0.80
   Country    Capital  Area (sq km)  Population (millions)
NE   Nepal  Kathmandu        147181                   30.7

Access the columns of the data

data['calunm_name]

In [7]:
print(pd_data.columns)

print(pd_data['Country'])
# to access the data in form of data formate
print(pd_data[['Capital']])

Index(['Country', 'Capital', 'Area (sq km)', 'Population (millions)'], dtype='object')
AF     Afghanistan
BA      Bangladesh
BH          Bhutan
IN           India
MA        Maldives
NE           Nepal
PA        Pakistan
SL       Sri Lanka
Name: Country, dtype: object
           Capital
AF           Kabul
BA           Dhaka
BH         Thimphu
IN       New Delhi
MA            Malé
NE       Kathmandu
PA       Islamabad
SL   Colombo Kotte

subset the data

In [8]:
new_data1 = pd_data.iloc[: ,[0,3]]          # Select all rows and only columns at index 0 and 3 (specific columns)
new_data2 = pd_data.iloc[: ,0:1]            # Select all rows and column index 0 only (note: 0:1 is a slice, returns a DataFrame, not a Series)
new_data3 = pd_data.iloc[0:5 ,[0,1,2]]      # Select rows from index 0 to 4 (5 is excluded), and columns at index 0, 1, and 2
new_data4 = pd_data.iloc[0:3,0:5]           # Select rows from index 0 to 2 (3 is excluded), and columns from index 0 to 4 (5 is excluded)

print(f"pd_data:\n{pd_data}\n")         
# print(f"new_data1:\n{new_data1}\n")
# print(f"new_data2:\n{new_data2}\n")
print(f"new_data3:\n{new_data3}\n")
print(f"new_data4:\n{new_data4}\n")

pd_data:
         Country        Capital  Area (sq km)  Population (millions)
AF   Afghanistan          Kabul        652860                  41.10
BA    Bangladesh          Dhaka        147570                 172.90
BH        Bhutan        Thimphu         38394                   0.80
IN         India      New Delhi       3287263                1417.20
MA      Maldives           Malé           298                   0.52
NE         Nepal      Kathmandu        147181                  30.70
PA      Pakistan      Islamabad        881912                 241.50
SL     Sri Lanka  Colombo Kotte         65610                  21.90

new_data3:
         Country    Capital  Area (sq km)
AF   Afghanistan      Kabul        652860
BA    Bangladesh      Dhaka        147570
BH        Bhutan    Thimphu         38394
IN         India  New Delhi       3287263
MA      Maldives       Malé           298

new_data4:
         Country  Capital  Area (sq km)  Population (millions)
AF   Afghanistan    Kabul        652860                   41.1
BA    Bangladesh    Dhaka        147570                  172.9
BH        Bhutan  Thimphu         38394                    0.8

Access the element in the data frame using loop

In [9]:
for lab , row in pd_data.iterrows():
    print(f"\nthis is lab {lab} \n")
    # print(row)
    #  if we want to access one element in row then 
    print(row['Area (sq km)'])

this is lab AF

652860

this is lab BA

147570

this is lab BH

38394

this is lab IN

3287263

this is lab MA

298

this is lab NE

147181

this is lab PA

881912

this is lab SL

65610