In [1]:
import pandas as pd

data = pd.read_csv('prt.csv')
print(data.head())
data1=data[['employee_id','name']]
print(data1.head())

  employee_id  salary         name        post
0        E001   55000  Anil Sharma     Manager
1        E002   42000     Sita Rai  Accountant
2        E003   48000  Manoj Thapa    Engineer
3        E004   39000  Rekha Joshi  HR Officer
4        E005   51000  Binod Karki   Team Lead
  employee_id         name
0        E001  Anil Sharma
1        E002     Sita Rai
2        E003  Manoj Thapa
3        E004  Rekha Joshi
4        E005  Binod Karki

In [2]:
col_name ={'id','Name'}
data1.columns=col_name
print(data1.head())
data=data.set_index('employee_id')
print(data.index)

   Name           id
0  E001  Anil Sharma
1  E002     Sita Rai
2  E003  Manoj Thapa
3  E004  Rekha Joshi
4  E005  Binod Karki
Index(['E001', 'E002', 'E003', 'E004', 'E005', 'E006', 'E007', 'E008', 'E009',
       'E010'],
      dtype='object', name='employee_id')

In [4]:
data1['new']=[1,2,3,4,5,6,7,8,9,0]
print(data1.head())

   Name           id  new
0  E001  Anil Sharma    1
1  E002     Sita Rai    2
2  E003  Manoj Thapa    3
3  E004  Rekha Joshi    4
4  E005  Binod Karki    5

In [16]:
one = data[data['name'].isin(['Anil Sharma','Sita Rai'])]
print(one)
two = one.groupby('name')['salary'].count()
print(two)

             salary         name        post
employee_id
E001          55000  Anil Sharma     Manager
E002          42000     Sita Rai  Accountant
name
Anil Sharma    1
Sita Rai       1
Name: salary, dtype: int64